<h1>Inicio</h1>
<hr>
<div class="jumbotron jumbotron-fluid">
  <div class="container animated fast fadeIn">
    <!--img src="assets/img/acl.png" alt=""-->
    <h2 class="display-3">ACL Systems <small>S.A. de C.V.</small></h2>
    <p class="lead">
      ACL Systems SA de CV solicita el desarrollo de una plataforma que permita la versatilidad de creación de aplicaciones basadas en mejores prácticas y con la rápidez que el mercado demanda.
      <br>
      ACL Systems SA de CV consiente de las necesidades de sus clientes, ha pensado en el desarrollo de una plataforma que permita crear aplicaciones de forma rápida, y que permita enfrentar la demanda cambiante que muestra el mercado.
      <br>
      En resumen, la plataforma consistirá, a grandes rasgos de los siguientes puntos principales:
    </p>
    <ul>
      <li>
        <p>
        La plataforma permitirá a los administradores poder configurar aplicaciones basandose en las metodologías de Business Process Management Notation (BPMN), Case Management Model Notation (CMMN), Decision Managemen Notation (DMN), y prácticas estándares muy populares como ITIL, COBIT, etc.
        </p>
      </li>
      <li>
        <p>
        La creación de aplicaciones deberá ser muy sencilla para el administrador, reduciendo el tiempo de adopción de la plataforma, y orientada a dar resultados inmediatos.
        </p>
      </li>
      <li>
        <p>
        La plataforma deberá contar también con un módulo de automatización, de forma que pueda realizar acciones automatizadas sobre elementos de configuración del entorno de TI del cliente. Este módulo contará con un componente de inteligencia artificial (sistema experto) que pueda ayudar a tomar decisiones de forma autónoma pero siempre bajo la supervisión del usuario.
        </p>
      </li>
      <li>
        <p>
        La plataforma deberá contar con un módulo de gestión de configuraciones (CMDB), ya que la CMDB debe tomarse como punto central y genérico de cualquier solución de TI para las empresas.
        </p>
      </li>
      <li>
        <p>
        La plataforma deberá contar con un módulo de seguridad que protega toda la plataforma y gestione los datos que en ella se manejen. Deberá permitir multitenancy, no necesaria y exclusivamente por empresa, es decir, que la segregación de datos pueda hacerse por algún dato maestro, definido por el usuario.
        </p>
      </li>
    </ul>
  </div>
</div>
